<div class="jumbotron">
  <center>
    <h1><%= @java.name %></h1>
    <img src="<%= @java.image %>">
  </center>
  <h3>Size: <%= @java.size %></h3>
  <h3>Description: <%= @java.description %></h3>
  <h3>Cost: $<%= @java.price %></h3>
</div>
